/*****************************************************************************
 * Copyright (c) 2012 CEA LIST.
 * 
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v2.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v20.html
 *
 * Contributors:
 *  Camille Letavernier (CEA LIST) camille.letavernier@cea.fr
 *****************************************************************************/
 
/* 
 *	Papyrus CSS v0.9
 */

* {
	
	/**
	*	GMF Display
	*/

	fillColor:#C3D1D5;
	
	/* 	fontHeight:9; */
	
	/** 
	*	Gradient 
	*/
	
	/* 	gradientColor:white; */
	/* 	gradientStyle:vertical; */
	
	/*  
	*	Global gradient (Equivalent to the latter)
	*/
	
	gradient: white vertical; /* vertical white; is currently invalid */
	
	/* 
	*	Global gradient (2)
	*	Unsupported by diagrams (Color2 is unused) 
	*/
	
	/* 	gradient:white blue vertical */
	
	/**
	*	UML Display
	*/
	
	elementIcon: true;
	/* 	shadow:false; */
	/* 	qualifiedNameDepth:Full; */
	
	/** 
	* 	UML Stereotypes display 
	*/
	
	/* 	stereotypeDisplay:"Text and Icon"; */
	/* 	textAlignment:Vertical; */
	/* 	displayPlace:"With brace"; */
}

Class {
	fillColor: #C3D7DD;
}

Comment {
	fillColor: #FFFFCC;
}

Constraint {
	fillColor: #C8FFE6;
}

Package {
	fillColor: white;
}

Operation[isAbstract=true] {
	italic:true;
}

/** This is the Diagram's root element. It doesn't support 
gradient and should have the same color as the diagram */
SequenceDiagram > Interaction {
	fillColor:white;
}

SequenceDiagram CombinedFragment,ConsiderIgnoreFragment, 
SequenceDiagram CombinedFragment,ConsiderIgnoreFragment * {
	fillColor:white;
}

TimingDiagram OccurrenceSpecification,MessageOccurrenceSpecification {
	fillColor: #006000;
	lineColor: #006000;
}

TimingDiagram Lifeline {
	gradient: white vertical;
	fontHeight: 12;
}

TimingDiagram StateInvariant {
	lineColor: black;
	fillColor: #9BC7CC;
	gradient: white vertical;
}

TimingDiagram Interaction {
	fillColor: #9BC7CC;
	gradient: none;
}

TimingDiagram Gate {
	fillColor: #2A52BE;
	lineColor: #2A52BE;
}

ParametricDiagram [appliedStereotypes~=ConstraintProperty] Property,
ParametricDiagram [appliedStereotypes~=ConstraintProperty] {
	elementIcon:false;
}

Label {
	elementIcon: false;
}

ActivityDiagram Activity *,InteractionOverviewDiagram Activity * {
	elementIcon:false; 
}

/* no gradiant for symbol to permit to change color */
ActivityDiagram MergeNode, 
ActivityDiagram ActivityFinalNode, 
ActivityDiagram FlowFinalNode, 
ActivityDiagram DecisionNode, 
ActivityDiagram SendSignalAction,
ActivityDiagram AcceptEventAction,
InteractionOverviewDiagram MergeNode, 
InteractionOverviewDiagram ActivityFinalNode, 
InteractionOverviewDiagram FlowFinalNode, 
InteractionOverviewDiagram DecisionNode
{
	gradient:none;
	fillColor:white;
}

ActivityDiagram InitialNode,
InteractionOverviewDiagram InitialNode{
	gradient:none;
	fillColor:black;
}

ClassDiagram Dependency{
	fillColor:Black;
	gradient:none;
}

/*
 * The Actor element icon is not useful either
 */
UseCaseDiagram Actor {
	elementIcon:false;
}

TimingDiagram * {
	gradient:none;
}

UseCaseDiagram UseCase {
	fillColor:white;
}

StateMachineDiagram Pseudostate[kind="exitPoint"],
StateMachineDiagram Pseudostate[kind="entryPoint"]
{
	fillColor:white;
}

StateMachineDiagram Pseudostate[kind="initial"],
StateMachineDiagram Pseudostate[kind="junction"]
{
	gradient:none;
	fillColor:black;
}

